<html>
<h2>Добавить новый пост</h2>

<p>
<form action="/new" method = "POST" role="form">
  <textarea name="descrip[title]" rows="1" placeholder="Название пиццы" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[description]" rows="1" placeholder="Описание пиццы" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[price]" rows="1" placeholder="Цена" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[size]" rows="1" placeholder="Размер" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[is_spicy]" rows="1" placeholder="Острая" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[is_veg]" rows="1" placeholder="Вегетарианская?" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[is_best_offer]" rows="1" placeholder="Лучший выбор" style = 'width: 400px'></textarea>
  </br>
  <textarea name="descrip[path_to_image]" rows="1" placeholder="Картинка" style = 'width: 400px'></textarea>
  </br>
  <button type="submit" class="btn btn-success">Создать</button>
</form>
</p>
</html>
